@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="sitemap_wrapper">
    <h2>Sitemap</h2>
    <div id="sitemap_urls">
		<a><img src="~/Images/imgCompass.png" alt="Image of Compass"/></a>
        <ul>
            <li>@Html.ActionLink("Home","Index","Home")</li>
			<li>@Html.ActionLink("About John", "Index", "About")</li>
			<li>@Html.ActionLink("Resume","Index","Resume")</li>
			<li>@Html.ActionLink("Irish Tech News", "Index", "IrishTechNews")</li>
			<li>@Html.ActionLink("Contact John", "Index", "Contact")</li>
		</ul>
	</div>
</section> 

