@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="home_view">
    <article id="welcome">
        <h2>Home</h2>
        <p>
            A hearty welcome to my software portfolio application built on ASP.NET Core MVC @ViewData["Version"] on @ViewData["Runtime"] running 
			on Debs (a.k.a. My Macbook Pro 2012)! Production deployment was done on Azure and Github of course was used for Version Control.
			This application goes hand in hand with source code found on my Github profile, which is detailed in the icon
			above and also in the below portfolio by project. Also, please feel free to connect with me on 
			<a href="https://www.linkedin.com/in/johnmlhll/" target="_blank">Linkedin</a>, 
			<a href="https://twitter.com/johnmlhll" target="_blank">Twitter</a>, 
			<a href="https://plus.google.com/u/0/+JohnMulhallProfile" target="_blank">Google+</a> and 
			<a href="https://github.com/johnmlhll" target="_blank">Github</a>.
        </p>
		<a id="img_john"><img src="~/Images/imgJohnMulhall.jpg" alt="Image of John Mulhall"></a>
		<p>
			Whilst this application is mainly dedicated to my software portfolio bringing you details of my personal software projects along with 
			summary detail only of my commercial software projects, you can also find the following by clicking on the menu icon to the left of 
			this page.
		</p>	
	    <ul>
			<li>
		        @Html.ActionLink("Home","Index","Home") Page - Brings you home to this page and my software portfolio 
                beneath
		    </li>
			<li>
			    @Html.ActionLink("About","Index","About") Page - Brings you a short bio about myself, qualifications, 
			    experience summary, interests, etc
			</li>
		    <li>
			    @Html.ActionLink("Resume","Index","Resume") Page - Brings you a short form version of my Curriculum Vitae 
			    in Resume format
			</li>
		    <li>
			   @Html.ActionLink("Irish Tech News","Index","IrishTechNews") Page - Brings you background to my writing 
			   experience and my publications with <a href="http://irishtechnews.ie/" target="_blank">Irish Tech News</a>
			</li>
			<li>
			   @Html.ActionLink("Contact","Index","Contact") Page - Brings you an online contact form plus the best email 
			    addresses, phone numbers and social media profiles to connect with my goodself!
			</li>
		</ul>
    </article>
    <article id="software_portfolio">
        <h2>The Software Portfolio</h2>
        <p>
            Although, I started to code in September 2014 for the first time in earnest, the Software Development set out below is based 
			upon completed projects of note from September 2016 when I started the Higher Diploma in Science in Computing 
			(Software Development) at <a href="http://www.dbs.ie/courses/ict-skills-programme" target="_blank">Dublin Business School</a>. 
			Selected projects completed on the course along with those of note completed in my spare time; both then and since make up the 
			bulk of my software portfolio. Please note certain Projects on my Github profile that predate the portfolio start date of 
			September 2016 will not be included in my software portfolio. I have implemented a JavaScript toggle function to make
			perusal of my software portfolio more user friendly, so just click on any of the "Show More/Less" buttons under the 
			project entries to see the details associated with the entry.
		</p>
        <!--Portfolio Entry 01 - Project Portfolio-->
        <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Project Portfolio
                <span class="project_right">Publication Date: October 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>   
    		<div class="portfolio_entry_detail">	
        		<p>Languages:</p>	
        		<a class="portfolio_images">
        			<img src="~/Images/imgLogoHtml5Css3Js.png" alt="Image of HTML5, CSS3 and JavaScript Logos"/>
        			<img src="~/Images/imgLogoCSharpVS.jpg" alt="Image of C# and Visual Studio Logos"/>	
        			<img src="~/Images/imgLogoASPRazor.png" alt="Image of ASP.NET Razor Logo"/>	
        		</a>	
        		<p>Frameworks/Storage:</p>
        		 <a class="portfolio_images">
                    <img src="~/Images/imgLogoASPNETMVC.jpg" alt="Image of Microsoft ASP.NET MVC Logo"/>
					<img src="~/Images/imgLogoXML.png" alt="Image of XML Logo"/>    
                </a>	
        		 <p>Deployment:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoAzure.png" alt="Image of Microsoft Azure Logo"/>
                </a>	
        		<p>Project Trailer:</p>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LNmyemO8M6c" frameborder="0" allowfullscreen></iframe>
        		<p>Project Description:</p>	
        		<p>
                    This project is build on an ASP.NET Core framework and is designed to showcase John's software portfolio from
        		    September 2016 onwards. The site is dedicated to the showcasing of his software projects along with his 
        			background, resume, writing portfolio with Irish Tech News and also a contact form. The application is
                    written on a ASP.NET core stack in C sharp with a native XML database to store contact form information. 
        			The front end is crafted using Razor, HTML5, CSS3 and Javascript. The purpose is to give you a good UX experience
                    in checking out John's software projects and finding out more about him through the site and its social media/contact
        			links/details.
        		</p>
        		<p>Project Demonstration:</p>   
    			<iframe width="560" height="315" src="https://www.youtube.com/embed/qXU1SuT1Vl0" frameborder="0" allowfullscreen></iframe>
				<div class="entry_urls">
				    <p>Github Repository: <a href="https://github.com/johnmlhll/ProjectPortfolio" target="_blank">Project Portfolio</a></p>
					<p>Live Site - Hyperlink: <a href="jmulhall.azurewebsites.net" target="_blank">Software Portfolio</a></p>
				</div> 
    		</div>	
        </div>
		<!--Portfolio Entry 02 - MulderbertPX-->
        <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> MulderbertPX
                <span class="project_right">Publication Date: October 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoHtml5Css3Js.png" alt="Image of HTML5, CSS3 and JavaScript Logos"/>
                    <img src="~/Images/imgLogoCSharpVS.jpg" alt="Image of C# and Visual Studio Logos"/> 
                    <img src="~/Images/imgLogoASPRazor.png" alt="Image of ASP.NET Razor Logo"/>    
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoASPNETMVC.jpg" alt="Image of Microsoft ASP.NET MVC Logo"/>
    				<img src="~/Images/imgLogoMicrosoftSQLServer.png" alt="Image of SQL Server Logo"/>	
					<img src="~/Images/imgLogoXML.png" alt="Image of XML Logo"/> 
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoAzure.png" alt="Image of Microsoft Azure Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-R5FL4Z5FFM" frameborder="0" allowfullscreen=true></iframe>
                <p>Project Description:</p> 
                <p>
                    This project is build on an ASP.NET (native) framework and is designed to showcase a version 2.0 of a college project
    				that was done in v1.0 as a group project. Niall Colbert, Diarmiud Dermody and John made up the V1.0 team. 
    				The site is dedicated to the showcasing of a minimum viable product for a newly digitised (fictitious) Fridge company 
    				called Mulderbert & Co, whom are an established bricks and motor company moving into the digital space. The application 
    				is written on a ASP.NET stack in C sharp with a native XML database for contact us information along with SQL server for 
    				customer and transactional information. The relational Database instance is designed and developed to 3rd normal form
                    ensuring good quality data persistence for core data generated by the site. The front end is crafted using Razor, 
    				HTML5, CSS3 and Javascript. The purpose is to give you a good overview of John's technical and design ability in a 
    				prior designed and built application, which he re-engineered to a smaller cost footprint yet maintaining data retention to 
                    a good standard for deployment on Azure.
                </p>
                <p>Project Demonstration:</p>   
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8Gn8VkOoQiY" frameborder="0" allowfullscreen=true></iframe>
    			<div class="entry_urls">
					<p>Github Repository: <a href="https://github.com/johnmlhll/CSharp-MulderbertPX" target="_blank">MulderbertPX</a></p>
					<p>Live Site - Hyperlink: <a href="https://mulderbertpx.azurewebsites.net/" target="_blank">MulderbertPX</a></p>
				</div> 	
            </div>  
        </div>
		<!--Portfolio Entry 03 - Angular4 - Project Dublin-->
        <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Angular4 - Project Dublin
                <span class="project_right">Publication Date: August 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoHtml5Css3.png" alt="Image of HTML5 and CSS3 Logos"/>
					<img src="~/Images/imgLogoTypeScript.png" alt="Image of Typescript Logo"/>  
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoAngular4TS.png" alt="Image of AngularJS Framework and TypeScript Logo"/>
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoGithubPages.png" alt="Image of Github Pages Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Uw5gQywwMPI" frameborder="0" allowfullscreen=true></iframe>
                <p>Project Description:</p> 
                <p>
                    This project is build on an Angular4 framework as a web application front end. The use of Bootstrap and any other
					framework (e.g. ASP.NET) is purposely absent to show case the pure Angular 4 features using HTML5, CSS3, Typescript and the 
					Angular 4 framework! The frontend is basically a brochure style web application 
					that gives tips on visiting Dublin, Ireland along with giving tips on Angular 4 and its powerful front end 
					features in developing a web application!
                </p>
                <p>Project Demonstration:</p>   
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YU7M9YB6bVE" frameborder="0" allowfullscreen=true></iframe>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/Angular4-ProjectDublin" target="_blank">Angular 4 - Project Dublin</a></p>
                    <p>Live Site - Hyperlink: <a href="https://johnmlhll.github.io/Angular4-ProjectDublin/" target="_blank">Angular 4 - Project Dublin</a></p>
                </div>  
            </div>  
       </div>
	   <!--04 Portfolio Entry - Commercial Project (Kinesense Ltd) -->
	   <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Image Analysis Framework (Commercial)
                <span class="project_right">Publication Date: June 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoJava8.png" alt="Image of Java 8 Logo"/>                  
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
					<img src="~/Images/imgLogoPostgreSQL.png" alt="Image of PostgreSQL Logo"/>  
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoCentOS.png" alt="Image of Linux(CentOS) Logo"/>
                    <img src="~/Images/imgLogoLinux.png" alt="Image of Linux Penguin Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This project is bascially a Java framework to house a proprietary video analysis algorithm belonging to 
					Kinesense Ltd. I was the Junior Software Engineer on the project charged with building the Java framework running 
					on Linux/CentOS virtual machine's in turn on Linux/CentOS servers with ARM 64 processors and a PostgreSQL databse solution. My job was then to 
					take the processing part of the prioriety video analysis algorithm in C# and transcode it into Java ensuring
                    the framework imported video files, processed the frames and conducted a frame by frame analysis
					storing data generated by the algorithm into the database solution within the framework. As I am bound by a Non
					Disclosure Agreement, no more information can be disclosed on this project. That said, I did gain a good proficiency in Java,
					Database Design and Development in PostgreSQL along with trouble shooting development issues in a commercial environment.
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: Restricted - Unavailable</p>
                    <p>Commerical Site - Hyperlink: <a href="https://www.kinesense-vca.com/" target="_blank">Kinesense Ltd</a></p>
                </div>  
            </div>  
       </div>
	   <!--05 Portfolio Entry - Project Personal Details (Java Swing) -->
       <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Personal Details
                <span class="project_right">Publication Date: June 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoJava8.png" alt="Image of Java 8 Logo"/>                  
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoMySQL.png" alt="Image of MySQL Database Logo"/>  
					<img src="~/Images/imgLogoJavaSwing.png" alt="Image of Java Swing Framework Logo"/>
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoDesktop.png" alt="Image of Fat Client - Desktop Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This project is a single tiered Java project using the Java Swing (and Java 8) framework to develop a simple data entry portal 
					on the desktop (i.e. fat client) for data entry of personal details. The application is connected to a MySQL database normalised
					to 3rd normal form and accepts (personal) data inputs for storage by the database.
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/JavaSwingGUI-ProjectPersonalDetails" target="_blank">Project Personal Details</a></p>
                    <p>Live Site - Hyperlink: Restricted - Unavailable</p>
                </div>  
            </div>  
       </div>
	   <!--06 Portfolio Entry - Project Safe Haven (Java Android) -->
       <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Safe Haven
                <span class="project_right">Publication Date: April 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoJava8.png" alt="Image of Java 8 Logo"/>  
					<img src="~/Images/imgLogoAndroid.png" alt="Image of Android Logo"/>
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoFirebase.jpg" alt="Image of Firebase Backend As A Service Logo"/>  
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoDesktop.png" alt="Image of Fat Client - Desktop Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This project is a Android project that inputs refugee information on a handheld (basic in v1.0) as part of the 
					registration process and when saved uploads to Google Firebase, which is a Backend as a Service (BaaS). The 
                    .json string is in this v1.0 version is the basic personal details of the refugee that is inputted onto Firebase
					via upload from the Android device. It is searchable in a developed system by anybody globally with authorised
					access to the Firebase instance the details are stored on. The application also has a check function which
					uses Google maps based on the users location with a pan function to check an address on site once there is access
					to the internet. If no internet access, the registration can be stored locally on the device before it is "saved" 
					to Firebase completing the registration. Data in this V1.0 is one way to Firebase, no retrieve, delete or edit 
					functionality is implemented in this V1.0 minimum viable product. A v2.0 of Safe Haven would see those features 
					implemented along other functional (e.g. auto check address without having to pan) and non functional features 
					(e.g. encryption for local handset data storage). 
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/Android-ProjectSafeHaven" target="_blank">Project Safe Haven</a></p>
                    <p>Live Site - Hyperlink: Restricted - Unavailable</p>
                </div>  
            </div>  
       </div>
	   <!--07 Portfolio Entry - Project DBS (.NET WinForms) -->
       <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Winforms Project DBS
                <span class="project_right">Publication Date: April 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoCSharpVS.jpg" alt="Image of C SHarp and Visual Studio Logos"/>  
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    <img src="~/Images/imgLogoMicrosoftSQLServer.png" alt="Image of Firebase Backend As A Service Logo"/>  
					<img src="~/Images/imgLogoDotNet.png" alt="Image of Microsoft .Net Logo"/>
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoDesktop.png" alt="Image of Fat Client - Desktop Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This project has a 3 tier architecture designed to meet the project requirements of a college project which was to 
					design and build an extensible minimum viable product for a student records management system via Winforms, .Net 
					and SQL Server. The project has a gridview to see listed students, a new student, edit student and delete student
					features, which are fully interactive with the SQL Server instance running stored procedures from the application 
					layer in order to conduct database operations. Database was designed and implemented to run in the 3rd normal form 
					and the fat client application is desktop deployable only.
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/WinformsCSharp-ProjectDBS" target="_blank">Winforms Project DBS</a></p>
                    <p>Live Site - Hyperlink: Restricted - Unavailable</p>
                </div>  
            </div>  
       </div>
	   <!--08 Portfolio Entry - Project B and B -->
       <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Project B and B
                <span class="project_right">Publication Date: March 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoHtml5Css3Js.png" alt="Image of HTML5, CSS3 and JavaScript Logos"/>
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    None
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoGithubPages.png" alt="Image of Github Pages Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This project has a front end only website, which was a college project to demonstrate web design ability. The
					project specs were for a fictitious B and B called "Moores B&B" who commissioned a brochure style web design
					for their flagship website. The pages include About Us, Our Customers, Activities, Rooms, Bookings, Useful Links, 
					Contact Us (including online form) and a site map in addition to the Home page. No frameworks whatsoever were
					allowed for this project such as Angular, Ajax or even Bootstrap. The idea was to demonstrate web design talent
					and development skills using HTML5, CSS3 and Javascript to a lessor extent. It was in essense a design and style
					project.
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/HTMLCSSJSWeb-ProjectBandB" target="_blank">Project B and B</a></p>
                    <p>Live Site - Hyperlink: <a href="https://johnmlhll.github.io/HTMLCSSJSWeb-ProjectBandB/index.html" target="_blank">Moores B&B</a></p>
                </div>  
            </div>  
       </div>
	   <!--09 Portfolio Entry - Project Linux Bash Admin -->
       <div class="portfolio_entry">
            <hr/>   
            <p>
                <strong>Project Name:</strong> Linux Admin
                <span class="project_right">Publication Date: March 2017</span>
            </p>
            <a class="btn_expand">Show More/Less</a>
            <div class="portfolio_entry_detail">    
                <p>Languages:</p>   
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoBash.png" alt="Image of the Bash Logo"/>
                </a>    
                <p>Frameworks/Storage:</p>
                 <a class="portfolio_images">
                    None
                </a>    
                <p>Deployment:</p>
                <a class="portfolio_images">
                    <img src="~/Images/imgLogoLinux.png" alt="Image of Linux Penguin Logo"/>
                </a>    
                <p>Project Trailer:</p>  
                <p>Restricted - Unavailable</p>
                <p>Project Description:</p> 
                <p>
                    This college project was a pure bash scripting project interrogating the Linux File Structure. 
					The basic idea of the admin script was to take results by block and then return the results by student with comments 
					producing a new folder structure to store the results by student number. No other languages like AWK or Python 
					were allowed.
                </p>
                <p>Project Demonstration:</p>   
                <p>Restricted - Unavailable</p>
                <div class="entry_urls">
                    <p>Github Repository: <a href="https://github.com/johnmlhll/Bash-ProjectLinuxAdmin" target="_blank">Project Linux Admin</a></p>
                    <p>Live Site - Hyperlink: Restricted - Unavailable</p>
                </div>  
            </div>  
       </div>
    </article>		
</div>

	
